Repository ariqfraser/tt-box-league: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Revert "Misc: Add eslint"
  .husky/pre-push
  .lintstagedrc
  angular.json
  eslint.config.js
  package-lock.json
  package.json
  src/app/app.ts
Due: prettier --write, eslint --fix

Misc: Add eslint
  .husky/pre-commit
  .husky/pre-push
  angular.json
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write

Misc: Configure jest and tsconfig path aliases. Misc: Setup environments
  angular.json
  jest.config.js
  package.json
  src/environments/environment.development.ts
  src/environments/environment.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Misc: Excluding env from jest coverage
  jest.config.js
Due: prettier --write

Misc: Add Firebase
  .firebaserc
  .gitignore
  firebase.json
  package-lock.json
  package.json
  src/app/app.config.ts
  src/environments/environment.development.ts
  src/environments/environment.ts
  src/environments/environment.types.ts
Due: prettier --write, eslint --fix

Misc: Add cspell
  .lintstagedrc
  cspell.json
  package-lock.json
  package.json
Due: prettier --write

Misc: Testing pre-push
  src/app/app.spec.ts
Due: prettier --write, eslint --fix

Misc: Fix test
  src/app/app.spec.ts
Due: prettier --write, eslint --fix

Feat: Setting up basic wrappers
  cspell.json
  package-lock.json
  src/app/app.ts
  src/app/core/services/firebase/auth/firebase-auth.spec.ts
  src/app/core/services/firebase/auth/firebase-auth.ts
  src/app/core/services/firebase/firestore/firebase-firestore.spec.ts
  src/app/core/services/firebase/firestore/firebase-firestore.ts
  src/app/shared/utils/logger/logger.util.ts
Due: prettier --write, eslint --fix

Misc: Add @angualr/material. Feat: Define basic models. Feat: Add navigation
  package-lock.json
  package.json
  src/app/app.html
  src/app/app.routes.ts
  src/app/core/models/match.models.ts
  src/app/core/models/user.models.ts
  src/app/features/navigation/navigation/navigation.html
  src/app/features/navigation/navigation/navigation.scss
  src/app/features/navigation/navigation/navigation.spec.ts
  src/app/features/navigation/navigation/navigation.ts
  src/app/shared/ui/icon/icon.html
  src/app/shared/ui/icon/icon.scss
  src/app/shared/ui/icon/icon.spec.ts
  src/app/shared/ui/icon/icon.ts
  src/index.html
  src/styles.scss
  src/theme/_colors.scss
Due: prettier --write, eslint --fix

Fix: Unit tests
  package-lock.json
  src/app/app.spec.ts
  src/app/core/services/firebase/auth/firebase-auth.spec.ts
Due: prettier --write, eslint --fix

Feat: Enhance testing setup with new mocks and path configurations
  jest.config.js
  setup-jest.ts
  src/app/app.spec.ts
  src/app/core/services/firebase/auth/firebase-auth.spec.ts
  src/app/core/services/firebase/firestore/firebase-firestore.spec.ts
  src/app/shared/utils/logger/logger.util.ts
  src/testing/index.ts
  src/testing/mocks/firestore.mocks.ts
  src/testing/mocks/logger.mocks.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write, eslint --fix

Feat: Update logger utility documentation and add debug/info/warn method descriptions
  cspell.json
  jest.config.js
  src/app/shared/utils/logger/logger.util.ts
Due: prettier --write, eslint --fix

Feat: Update pre-push hook to include build step and enhance linting configuration
  .husky/pre-push
  .lintstagedrc
  angular.json
Due: prettier --write

chore(deps): update Jest and related dependencies to version 30.x
  package-lock.json
  package.json
  setup-jest.ts
Due: prettier --write, eslint --fix

Fix: Update lint-staged configuration to use 'eslint' command for TypeScript and JavaScript files
  .lintstagedrc
Due: none

Feat: Remove .editorconfig file and update .prettierrc with additional formatting options
  .editorconfig
  .prettierrc
Due: none

Feat: Implement icon component with Material Symbols Rounded and update styles
  src/app/shared/ui/icon/icon.html
  src/app/shared/ui/icon/icon.scss
  src/app/shared/ui/icon/icon.ts
  src/index.html
Due: prettier --write, eslint --fix

Feat: Refactor navigation component and styles, add theme support
  angular.json
  src/app/app.routes.ts
  src/app/features/navigation/navigation.html
  src/app/features/navigation/navigation.scss
  src/app/features/navigation/navigation.spec.ts
  src/app/features/navigation/navigation.ts
  src/app/features/navigation/navigation/navigation.html
  src/app/features/navigation/navigation/navigation.scss
  src/theme/_constants.scss
  src/theme/_containers.scss
  src/theme/_theme.scss
Due: prettier --write, eslint --fix

Feat: Update navigation styles to use 'theme' with @use syntax
  src/app/features/navigation/navigation.scss
Due: prettier --write

Fix: Correct border-radius variable names in navigation styles
  src/app/features/navigation/navigation.scss
  src/theme/_constants.scss
Due: prettier --write

Feat: Add account, dashboard, league, and leaderboard components with routing support
  src/app/app.routes.ts
  src/app/features/account/account.html
  src/app/features/account/account.scss
  src/app/features/account/account.spec.ts
  src/app/features/account/account.ts
  src/app/features/box-league/box-league.html
  src/app/features/box-league/box-league.scss
  src/app/features/box-league/box-league.spec.ts
  src/app/features/box-league/box-league.ts
  src/app/features/dashboard/dashboard.html
  src/app/features/dashboard/dashboard.scss
  src/app/features/dashboard/dashboard.spec.ts
  src/app/features/dashboard/dashboard.ts
  src/app/features/leaderboard/leaderboard.html
  src/app/features/leaderboard/leaderboard.scss
  src/app/features/leaderboard/leaderboard.spec.ts
  src/app/features/leaderboard/leaderboard.ts
  src/app/features/navigation/navigation.html
  src/app/features/navigation/navigation.scss
  src/app/features/navigation/navigation.spec.ts
  src/app/features/navigation/navigation.ts
Due: prettier --write, eslint --fix

Feat: Implement admin feature with routing, components, and styles
  angular.json
  package.json
  src/app/app.routes.ts
  src/app/core/models/box.models.ts
  src/app/core/models/match.models.ts
  src/app/core/models/user.models.ts
  src/app/features/admin/admin.html
  src/app/features/admin/admin.scss
  src/app/features/admin/admin.spec.ts
  src/app/features/admin/admin.ts
  src/app/features/admin/tabs/admin-tab-box-league/admin-tab-box-league.const.ts
  src/app/features/admin/tabs/admin-tab-box-league/admin-tab-box-league.html
  src/app/features/admin/tabs/admin-tab-box-league/admin-tab-box-league.scss
  src/app/features/admin/tabs/admin-tab-box-league/admin-tab-box-league.spec.ts
  src/app/features/admin/tabs/admin-tab-box-league/admin-tab-box-league.ts
  src/app/features/admin/tabs/admin-tab-logic/admin-tab-logic.html
  src/app/features/admin/tabs/admin-tab-logic/admin-tab-logic.scss
  src/app/features/admin/tabs/admin-tab-logic/admin-tab-logic.spec.ts
  src/app/features/admin/tabs/admin-tab-logic/admin-tab-logic.ts
  src/app/features/box-league/box-league.html
  src/app/features/box-league/box-league.service.spec.ts
  src/app/features/box-league/box-league.service.ts
  src/app/features/box-league/box-league.ts
  src/app/features/login-sheet/login-sheet.html
  src/app/features/login-sheet/login-sheet.scss
  src/app/features/login-sheet/login-sheet.spec.ts
  src/app/features/login-sheet/login-sheet.ts
  src/app/shared/ui/league-box/league-box.html
  src/app/shared/ui/league-box/league-box.scss
  src/app/shared/ui/league-box/league-box.spec.ts
  src/app/shared/ui/league-box/league-box.ts
  src/index.html
  src/theme/resets.scss
Due: prettier --write, eslint --fix

Feat: Implement registration and login features with UI components and validation
  cspell.json
  src/app/app.ts
  src/app/features/dashboard/dashboard.html
  src/app/features/dashboard/dashboard.ts
  src/app/features/login-sheet/login-sheet.html
  src/app/features/login-sheet/login-sheet.scss
  src/app/features/login-sheet/login-sheet.service.spec.ts
  src/app/features/login-sheet/login-sheet.service.ts
  src/app/features/login-sheet/login-sheet.ts
  src/app/features/register/register.html
  src/app/features/register/register.scss
  src/app/features/register/register.service.spec.ts
  src/app/features/register/register.service.ts
  src/app/features/register/register.spec.ts
  src/app/features/register/register.ts
  src/app/shared/ui/input/input.html
  src/app/shared/ui/input/input.scss
  src/app/shared/ui/input/input.spec.ts
  src/app/shared/ui/input/input.ts
  src/app/shared/ui/league-box/league-box.spec.ts
  src/app/shared/validators/must-match.validator.ts
  src/theme/_constants.scss
Due: prettier --write, eslint --fix

Fix: Unit tests
  src/app/shared/ui/input/input.spec.ts
Due: prettier --write, eslint --fix

Feat: Add functions emulator
  firebase.json
  package-lock.json
Due: prettier --write

feat(functions): initialize Firebase Cloud Functions with TypeScript setup
  .gitignore
  cspell.json
  firebase.json
  functions/package-lock.json
  functions/package.json
  functions/src/index.ts
  functions/tsconfig.json
  package-lock.json
  package.json
  src/app/app.config.ts
Due: prettier --write, eslint --fix

feat: Implement user registration functionality with Firebase
  .gitignore
  EMULATOR_SETUP.md
  ROLLOUT_PLAN.md
  SECURITY_GUIDE.md
  TESTING_GUIDE.md
  TEST_SUMMARY.md
  cspell.json
  firebase.json
  functions/package.json
  functions/src/index.ts
  functions/src/register/register.function.spec.ts
  functions/src/register/register.function.ts
  functions/src/register/register.integration.spec.ts
  src/app/core/services/firebase/functions/firebase-functions.spec.ts
  src/app/core/services/firebase/functions/firebase-functions.ts
  src/app/core/services/firebase/functions/registration.service.spec.ts
  src/app/core/services/firebase/functions/registration.service.ts
  src/app/features/box-league/box-league.ts
  src/app/features/register/register.html
  src/app/features/register/register.models.ts
  src/app/features/register/register.scss
  src/app/features/register/register.spec.ts
  src/app/features/register/register.ts
  start-emulators.sh
Due: prettier --write, eslint --fix

Fix: Funcions service unit test
  src/app/core/services/firebase/functions/firebase-functions.spec.ts
Due: prettier --write, eslint --fix

feat: Login scanner
  ROLLOUT_PLAN.md
  TESTING_GUIDE.md
  TEST_SUMMARY.md
  angular.json
  cspell.json
  firebase.json
  package-lock.json
  package.json
  src/app/app.ts
  src/app/configs/storage.config.ts
  src/app/core/services/firebase/auth/firebase-auth.ts
  src/app/core/services/storage/storage.service.spec.ts
  src/app/core/services/storage/storage.service.ts
  src/app/features/login-sheet/login-sheet.html
  src/app/features/login-sheet/login-sheet.scss
  src/app/features/login-sheet/login-sheet.service.ts
  src/app/features/login-sheet/login-sheet.ts
  src/app/features/login-sheet/login.spec.ts
  src/app/features/login-sheet/login.ts
  src/app/shared/ui/scanner/scanner.html
  src/app/shared/ui/scanner/scanner.scss
  src/app/shared/ui/scanner/scanner.spec.ts
  src/app/shared/ui/scanner/scanner.ts
  src/app/shared/utils/cookie-store/cookie-store.util.ts
  src/app/shared/utils/logger/logger.util.ts
  src/styles.scss
  tsconfig.app.json
  tsconfig.json
Due: prettier --write, eslint --fix

Misc: Fix jest config
  jest.config.js
Due: prettier --write

feat: Implement login flow with Firebase authentication and UI components
  src/app/app.routes.ts
  src/app/app.ts
  src/app/configs/storage.config.ts
  src/app/core/services/firebase/auth/firebase-auth.ts
  src/app/core/services/firebase/firestore/firebase-firestore.ts
  src/app/features/account/account.ts
  src/app/features/admin/admin.ts
  src/app/features/admin/tabs/admin-tab-box-league/admin-tab-box-league.ts
  src/app/features/admin/tabs/admin-tab-logic/admin-tab-logic.ts
  src/app/features/box-league/box-league.service.ts
  src/app/features/box-league/box-league.ts
  src/app/features/dashboard/dashboard.ts
  src/app/features/leaderboard/leaderboard.ts
  src/app/features/login-flow/login-flow.html
  src/app/features/login-flow/login-flow.scss
  src/app/features/login-flow/login-flow.service.spec.ts
  src/app/features/login-flow/login-flow.service.ts
  src/app/features/login-flow/login-flow.spec.ts
  src/app/features/login-flow/login-flow.ts
  src/app/features/login-sheet/login-sheet.service.ts
  src/app/features/login-sheet/login.spec.ts
  src/app/features/navigation/navigation.ts
  src/app/features/register/register.models.ts
  src/app/features/register/register.service.ts
  src/app/features/register/register.ts
  src/app/shared/ui/icon/icon.ts
  src/app/shared/ui/league-box/league-box.ts
  src/app/shared/ui/scanner/scanner.ts
  src/environments/environment.types.ts
Due: prettier --write, eslint --fix

Fix: stuff
  src/app/features/dashboard/dashboard.html
Due: prettier --write, eslint --fix

feat: Enhance login flow with QR code scanning and error handling
  src/app/features/login-flow/login-flow.html
  src/app/features/login-flow/login-flow.scss
  src/app/features/login-flow/login-flow.ts
  src/app/shared/ui/scanner/scanner.html
Due: prettier --write, eslint --fix

feat: Update login flow to display scanned code and handle submission errors
  src/app/features/login-flow/login-flow.html
  src/app/features/login-flow/login-flow.service.ts
  src/app/features/login-flow/login-flow.ts
Due: prettier --write, eslint --fix

refactor: remove registration feature and related tests
  .lintstagedrc
  firebase.json
  functions/package-lock.json
  functions/package.json
  functions/src/index.ts
  functions/src/login/login.fn.ts
  functions/src/register/register.function.spec.ts
  functions/src/register/register.function.ts
  functions/src/register/register.integration.spec.ts
  src/app/core/services/firebase/auth/firebase-auth.ts
  src/app/core/services/firebase/functions/firebase-functions.ts
  src/app/core/services/firebase/functions/registration.service.spec.ts
  src/app/core/services/firebase/functions/registration.service.ts
  src/app/features/login-flow/login-flow.html
  src/app/features/login-flow/login-flow.scss
  src/app/features/login-flow/login-flow.service.ts
  src/app/features/login-flow/login-flow.ts
  src/app/features/register/register.html
  src/app/features/register/register.models.ts
  src/app/features/register/register.scss
  src/app/features/register/register.service.spec.ts
  src/app/features/register/register.service.ts
  src/app/features/register/register.spec.ts
  src/app/features/register/register.ts
  src/app/shared/utils/logger/logger.util.ts
  start-emulators.sh
Due: prettier --write, eslint --fix

Fix: logger util not displaying data
  src/app/shared/utils/logger/logger.util.ts
Due: prettier --write, eslint --fix

fix: correct spelling of 'authorised' in error message
  cspell.json
  functions/src/login/login.fn.ts
  src/app/features/login-flow/login-flow.service.ts
Due: prettier --write, eslint --fix

feat: implement user creation and document handling in login flow
  functions/src/index.ts
  functions/src/login/login.fn.ts
  functions/src/shared/user.util.ts
  src/app/core/models/firestore-doc-data.model.ts
  src/app/core/models/user.models.ts
Due: prettier --write, eslint --fix

feat: enhance login flow with QR code scanning and error handling improvements
  src/app/features/login-flow/login-flow.html
  src/app/features/login-flow/login-flow.scss
  src/app/features/login-flow/login-flow.ts
  src/app/shared/ui/icon/icon.scss
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,js,json,css,scss,html}
  eslint --fix: any of: *.{ts,html}
